/* Reset de css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Sin congiguracion el rem vale: */
  /* 1rem = 16px */

  /* Para que 1 rem = 10px */
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #ECF0F1;
  color: #34495E;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}



.header {
  background-color: #2C3E50;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header__logo {
  padding: 1rem;
  margin-left: 2rem;

  font-size: 3rem;
  font-weight: bold;
}
.header__logo a {
  color: #ECF0F1;
  text-decoration: none;
}

.logo-img {
    height: 80px;  
    width: auto; 
}


.header__nav {
  padding: 1rem;
  margin-right: 2rem;
}

.header__nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.header__nav li {
  font-size: 3rem;
  font-weight: bold;
}

.header__nav a {
  color: #ECF0F1;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
}

/* -------------------------------------------------------------------------- */
/*                                 FOOTER                                     */
/* -------------------------------------------------------------------------- */


/* Estilos para el pie de página (footer) */
footer {
    /* 1. Color de Fondo y Fuente */
    background-color: #2C3E50; /* Color oscuro o el que prefieras */
    color: #ECF0F1; /* Letra blanca */

    /* 2. Centrado del Contenido */
    text-align: center; /* Centra el texto dentro del footer */

    /* 3. Padding (Espacio interno) para que no se vea pegado */
    padding: 30px 0;
    
    /* 4. Asegurar que ocupe todo el ancho */
    width: 100%; 

    margin-top: 50px;
}

/* Estilos para los enlaces dentro del footer (redes sociales, etc.) */
footer a {
    color: white; /* Para que los enlaces también sean blancos */
    text-decoration: none; /* Opcional: Quita el subrayado de los enlaces */
    margin: 0 30px; /* Separa los enlaces entre sí */
}

/* Opcional: Estilo para la línea de derechos de autor si usaste un <p> */
footer p {
    margin: 5px 0; /* Un poco de espacio vertical para el texto */
}

/* Opcional: Estilos para el contenedor de redes si lo agregaste */
.redes-sociales {
    margin-bottom: 10px;
    margin-top: 15px;
}

/* -------------------------------------------------------------------------- */
/*                              BOTONES                                       */
/* -------------------------------------------------------------------------- */
.btn {
  background-color: #69c187;;
  color: #e5e6e8;
  border: none;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  background-color: #5d81a5;
}

.btn-eliminar-carrito {
  background-color: #69c187;
  border: 2px solid #5d81a5;
}
.btn-vaciar-carrito {
  background-color: #69c187;
  color: #69c187;
}
.btn-vaciar-carrito:hover {
   background-color: #e0aa24;
  
}


/* -------------------------------------------------------------------------- */
/*                                    HOME                                    */
/* -------------------------------------------------------------------------- */

main {
  width: 90%;

  /* body dijo que sus hijos sean flexibles (header, main y footer) */
  /* al aplicar la propiedad "flex: 1" a un hijo, le decimos que ese 
  hijo siempre tomara el mayor espacio disponible */
  flex: 1;

  margin: 2rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  font-size: 4rem;
  margin: 2rem 0;
}

main .parrafo-home {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  width: 80%;
}

.productos-home {
  width: 100%;
}

.productos-home h2 {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  margin: 3rem;
}

.contenedor-tarjetas,
#contenedor-carrito {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.tarjeta-producto {
 
  /*background-color: #69c187;*/
  background-color:#2C3E50;
  color: #e5e6e8;
  padding: 1rem;
  border-radius: 1rem;
  width: 30rem;
  padding-bottom: 2rem;

  /* hacemos flexibles los elementos del article */
  /* los colocamos en columna y centrados */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* separacion */
  gap: 1rem;
}

.tarjeta-producto h3 {
  font-size: 2.5rem;
}

.tarjeta-producto p {
  font-size: 2rem;
  font-weight: bold;
}

.tarjeta-producto img {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

/* -------------------------------------------------------------------------- */
/*                                  CONTACTO                                  */
/* -------------------------------------------------------------------------- */

.seccion-contacto {
  width: 100%;

  margin: 2rem auto;
}

.titulo-contacto {
  font-size: 4rem;
  text-align: center;
  margin: 2rem 0;
}

.form {
  background-color: #69c187;
  padding: 5rem;
  border-radius: 1rem;

  width: 60rem; /* ancho relativo */

  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.campo-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.campo-form label {
  font-size: 2rem;
}
.campo-form input,
.campo-form textarea {
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  border: none;
}

.form button {
  background-color: #2C3E50;
  color: #e5e6e8;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                              CARRITO                                       */
/* -------------------------------------------------------------------------- */
.mensaje-carrito-vacio {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
}
.acciones-carrito {
  margin-top: 2rem;
}

/* -------------------------------------------------------------------------- */
/*                                M QUERIES                                   */
/* -------------------------------------------------------------------------- */
@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .header__logo,
  .header__nav {
    margin: 0;
  }

  .contenedor-tarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tarjeta-producto {
    width: 80%;
  }
  .form {
    width: 80%;
    min-width: 400px;
  }
}